@page
<!DOCTYPE html>
<html>
<head>
  <title>Rest Design Sample Webpage</title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <h1>This is just a web page.</h1>
  <p>This page is for the PluralSight course:  <a href="https://shawnl.ink/psrestdesign">Designing RESTful Web APIs</a></p>
</body>
</html>